.dp-inline-block {
  display: inline;
}

.flow > * + * {
  margin: 1rem;
}

.flow-left > * + * {
  margin-left: 1rem;
}

.flow-s-left > * + * {
  margin-left: 0.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-start {
  justify-content: start;
  align-items: start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.mx-auto {
  margin: auto;
}

.mx-s {
  margin: 0.5rem;
}

.mx-1 {
  margin: 1rem;
}

.px-1 {
  padding: 1rem;
}

.px-s {
  padding: 0.5rem;
}

.fx-2 {
  font-size: 1.2rem;
}

.ps-f {
  position: absolute;
}

.btm-0 {
  bottom: 0;
}
