.item-div {
  padding: 1rem;
  align-content: center;
}

.cont-order-summary {
  align-items: center;
  margin: 8rem 20rem 8rem;
  border: 0.3rem solid;
}

.order-form {
  align-items: center;
  margin: 3rem 5rem 3rem;
  display: -ms-inline-flexbox;
}
